[Unit]
Description=MNT Reform Hardware Defaults Setup
Documentation=man:reform-hw-setup(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/reform-hw-setup
StandardOutput=journal

[Install]
WantedBy=sysinit.target

