Source: reform-tools
Section: admin
Priority: optional
Maintainer: Lukas F. Hartmann <lukas@mntre.com>
Uploaders:
 Johannes Schauer Marin Rodrigues <josch@debian.org>,
Homepage: https://source.mnt.re/reform/reform-tools/
Standards-Version: 4.6.0.1
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-dkms,
 fontforge,
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-dkms

Package: reform-tools
Architecture: all
Depends:
 alsa-utils,
 console-setup,
 debconf,
 keyboard-configuration,
 mount,
 parted,
 procps,
 reform2-lpc-dkms,
 rsync,
 systemd,
 tzdata,
 ${misc:Depends},
Recommends:
 brightnessctl,
 foot,
 gir1.2-ayatanaappindicator3-0.1,
 gir1.2-notify-0.7,
 gnome-system-monitor,
 ircii,
 pavucontrol,
 pkexec,
 pulseaudio-utils,
 python3,
 python3-gi,
 synaptic,
 thunar,
 x11-xserver-utils,
Protected: yes
Description: MNT Reform System Tools
 A number of scripts for managing boot media, displays, standby, plus a few
 help texts and gadgets for the customized sway desktop. Also contains
 /sbin/reform-init, a boot manager script that gets loaded by u-boot and which
 in turn launches the real /sbin/init after mounting an (encrypted) boot
 medium.

Package: reform2-lpc-dkms
Architecture: all
Depends:
 ${misc:Depends},
Description: dkms driver sources for reform2 lpc
 This package provides sources for the reform2_lpc kernel module for use with
 the Dynamic Kernel Module Support (dkms) framework.
