#!/usr/bin/make -f

# for debian/reform-tools.install and for dkms
include /usr/share/dpkg/pkg-info.mk
export DEB_VERSION_UPSTREAM

%:
	dh $@

execute_after_dh_auto_build:
	fontforge -lang=ff -c 'Open($$1); Generate($$2)' mnt-icon-font/MNTIcons.sfd mnt-icon-font/MNTIcons.ttf
	set -e;                                                               \
	tool2whatis () { case $$1 in                                          \
		reform-boot-config)  echo "choose rootfs to boot from" ;;     \
		reform-chat)         echo "chat on #mnt-reform" ;;            \
		reform-check)        echo "check your setup" ;;               \
		reform-compstat)     echo "system statistics for waybar" ;;   \
		reform-config)       echo "select keyboard and timezone" ;;   \
		reform-display-config) echo "select single/dual display" ;;   \
		reform-flash-rescue) echo "flash rescue image to eMMC" ;;     \
		reform-flash-uboot)  echo "download and flash u-boot" ;;      \
		reform-help)         echo "help with MNT Reform" ;;           \
		reform-hw-setup)     echo "perform hardware tweaks" ;;        \
		reform-migrate)      echo "copy rootfs to device" ;;          \
		reform-pavucontrol)  echo "kill and restart pavucontrol" ;;   \
		reform-setup-encrypted-nvme) echo "setup encrypted SSD" ;;    \
		reform-standby)      echo "suspend/wakeup tweaks" ;;          \
		*) echo "unknown tool: $$1" 2>&1; exit 1 ;;                   \
	esac; };                                                              \
	for tool in bin/* sbin/*; do                                          \
		sec="$$(case $$tool in sbin/*) echo 8;; *) echo 1;; esac)";   \
		env "PATH=$$(dirname "$$tool"):$$PATH" help2man               \
			--section=$$sec                                       \
			--name="$$(tool2whatis "$$(basename "$$tool")")"      \
			--no-info --version-string=$(DEB_VERSION_UPSTREAM)    \
			--no-discard-stderr "$$(basename "$$tool")"           \
			--output="debian/$$(basename "$$tool").$$sec";        \
	done

override_dh_installsystemd:
	dh_installsystemd --package=reform-tools --name=reform-hw-setup
	dh_installsystemd --package=reform-tools --no-stop-on-upgrade --no-start --name=reform-sleep

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)

execute_after_dh_clean:
	rm -f mnt-icon-font/MNTIcons.ttf
