#!/usr/bin/make -f

# for debian/reform-tools.install and for dkms
include /usr/share/dpkg/pkg-info.mk
export DEB_VERSION_UPSTREAM

%:
	dh $@

execute_after_dh_auto_build:
	for d in Desktop Documents Downloads Music Pictures Videos; do mkdir -p etc/skel/$$d; done

override_dh_installsystemd:
	dh_installsystemd --name=reform-hw-setup
	dh_installsystemd --name=reform-sleep

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)
