//! ------------------------------------------------------------------------------
//! ROFI MNT Reform Color theme
//! User: MNT Research GmbH
//! ------------------------------------------------------------------------------

* {
	background-color: #000000;
        text-color: #ffffff;
}

prompt {
        text-color: #000000;
        font-size: 0;
}

window {
        padding: 32px;
}

normal {
        text-color: #ffffff;
}

selected {
        background-color: #ffffff;
        text-color: #000000;
}
