* {
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    border-radius: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

widget label, .text-button {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 2px;
}

/* compat with other waybar versions that don't use buttons */
.horizontal label {
    margin-left: 8px;
    margin-right: 8px;
}

#tray {
    padding-right: 8px;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #111111;
    border: none;
}

button {
    color: #ffffff;
    font-size: 14px;
    border: none;
}

button.focused {
    background: #ffffff;
    color: #000000;
    border: none;
}

button.active {
    background: #303030;
    color: #000000;
    border: none;
}

button.minimized {
    background: #000000;
    color: #ffffff;
    opacity: 0.25;
    border: none;
}
